# Jesus Bolivar
## week 9 10/12/2023
### Python Lambda function, higher order functions: map(). filter(), and reduce()

In [1]:
'''
A lambda function is a small annonymous function.
It can take any number of arguments, ut can oly have one expression.
generally used when a function is needed temporarily for a short period of time

You can store the lambda funtion in a variable.
Format:

  lamda arguments : expression
'''

def double(num):
    return num * 2

double(6)

12

In [2]:
def square(x):
    return x**2

square(5)

25

In [3]:
double= lambda x:x*2
print(double(6))

12

In [4]:
square = lambda x:x**2
print(square(6))

36

In [5]:
larger = lambda a, b : a if a > b else b

print(larger(5,8))

8

In [9]:
# higher-order function map()
'''
map() is useful when you need to apply a transformation 
function to each item in an iterable and transform them into a new iterable.
A function can be assigned to a variable

map(function, iterable[ iterable1, iterable2,...., iterableN])
it reutrns the map() object
'''

txns = [1.09, 23.56, 57.84, 4.56, 6.78]
TAX_RATE = .08

def get_price_with_tax(txn):
    return round(txn * (1 + TAX_RATE),2)

#final_prices = [round(get_price_with_tax(txn),2)]

final_prices = map(get_price_with_tax, txns)
list(final_prices)

[1.18, 25.44, 62.47, 4.92, 7.32]

In [10]:
def square(number):
    return number ** 2

nums = [1,2,3,4,5,6,7]

list(map(square,nums))

[1, 4, 9, 16, 25, 36, 49]

In [11]:
list(map(lambda x:x**2,nums))

[1, 4, 9, 16, 25, 36, 49]

In [18]:
words = ["Ford", "Nissan", "GMC", "Mazda", "Dodge", "BMW"]
list(map(lambda word: 'EVEN' if len(word) % 2 == 0 else word[:2], words))

['EVEN', 'EVEN', 'GM', 'Ma', 'Do', 'BM']

In [1]:
# The filter() function extracts elements from an iterable (list, tuple, etc.)
# for which a function returns true
# format: filter(function, iterable)
def check_even(num):
    return num%2==0

check_even(5)

False

In [2]:
check_even(4)

True

In [4]:
nums = [1, 2, 3, 4, 5, 6, 7]
list(filter(check_even, nums))

[2, 4, 6]

In [5]:
list(map(check_even, nums))

[False, True, False, True, False, True, False]

In [6]:
list(filter(lambda n: n%2==0, nums))

[2, 4, 6]

In [10]:
letters = ['a', 'b', 'd', 'e', 'i', 'j', 'o']
vowels = ['a', 'e', 'i', 'o', 'u']

list(filter(lambda n: n in vowels, letters))

['a', 'e', 'i', 'o']

In [11]:
# Reduce Function reduce()
# format: reduce(function, iterable[, initializer])
import functools
from functools import reduce

num_list = [1,2,3,4,5]

product = reduce(lambda x,y: x * y, num_list)
print(product)

120

In [12]:
product = reduce(lambda x,y: x * y, num_list, 2)
print(product)

240

In [14]:
sum_numbers = reduce(lambda x,y: x + y, num_list,0)
print(sum_numbers)

15

In [15]:
max_numbers = reduce(lambda x,y: x if x > y else y, num_list)
print(max_numbers)

5