# Jesus Bolivar
## week 7 10/3/2023
### Python List Comprehension

** List comprehension format:**

<<code> new_list = [expression for member in iterable] <code/
    
**Using Conditional logic:**
    
<code> new_list = [expression for member in iterable (if conditional)] <code/>

<code> new_list = [expression (if conditional) for member in iterable] <code/>

In [1]:
lst = []

for letter in 'helloCIS310':
    lst.append(letter)
    
lst

['h', 'e', 'l', 'l', 'o', 'C', 'I', 'S', '3', '1', '0']

In [2]:
# [expression for item in list]
lst = [letter for letter in 'helloCIS310']
lst

['h', 'e', 'l', 'l', 'o', 'C', 'I', 'S', '3', '1', '0']

In [3]:
squares = []
for n in range(0,11):
    squares.append(n*n)
    
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [4]:
squares = [n**2 for n in range(0,11)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [5]:
# [expression for member in iterable (if conditional)]
squares = [n**2 for n in range(0,11) if (n % 2 == 0)]
squares

[0, 4, 16, 36, 64, 100]

In [6]:
lst = [n for n in range(0,101) if n % 2 == 0 if n % 5 == 0]
lst

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [7]:
sentence = 'CIS310 communicate students with analytical thinking'
vowels_letters = 'aeiou'
lst = [letter for letter in sentence if letter in vowels_letters]
lst

['o', 'u', 'i', 'a', 'e', 'u', 'e', 'i', 'a', 'a', 'i', 'a', 'i', 'i']

In [9]:
sentence = 'Studies found that the financial impact of poor-quality data cost $3.1 trillion in 2016'
lst = [letter for letter in sentence if letter.isalpha() and letter.islower()]
lst

['t',
 'u',
 'd',
 'i',
 'e',
 's',
 'f',
 'o',
 'u',
 'n',
 'd',
 't',
 'h',
 'a',
 't',
 't',
 'h',
 'e',
 'f',
 'i',
 'n',
 'a',
 'n',
 'c',
 'i',
 'a',
 'l',
 'i',
 'm',
 'p',
 'a',
 'c',
 't',
 'o',
 'f',
 'p',
 'o',
 'o',
 'r',
 'q',
 'u',
 'a',
 'l',
 'i',
 't',
 'y',
 'd',
 'a',
 't',
 'a',
 'c',
 'o',
 's',
 't',
 't',
 'r',
 'i',
 'l',
 'l',
 'i',
 'o',
 'n',
 'i',
 'n']

In [11]:
lst = [letter for letter in sentence if letter.isalpha() and letter.isupper()]
lst

['S']

In [12]:
prices = [1.25, -9.45, 10.22, 3.78, -5.92, 1.16]
new_prices = [value if value >= 0 else 0 for value in prices]
new_prices

[1.25, 0, 10.22, 3.78, 0, 1.16]

In [13]:
lst = ['Even ' if n % 2 == 0 else 'Odd' for n in range(0,11)]
lst

['Even ',
 'Odd',
 'Even ',
 'Odd',
 'Even ',
 'Odd',
 'Even ',
 'Odd',
 'Even ',
 'Odd',
 'Even ']

In [14]:
txns = [1.09, 23.56, 57.84, 4.56, 6.78]
TAX_RATE = .08
final_price =[i * (1 + .08) for i in txns]
final_price

[1.1772000000000002, 25.4448, 62.467200000000005, 4.9248, 7.322400000000001]

In [16]:
# Nested list comprehesnions
lst = [n**2 for n in [num for num in range(21) if num % 2 == 0]]
lst

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

In [17]:
# using Set and Dictionary Comprehensions
s = 'data preparation consumes an amount of time (up to 80%) spent on analytics'
unique_vowels = {l for l in s if l in 'aeiou'}
unique_vowels

{'a', 'e', 'i', 'o', 'u'}

In [19]:
dc = {n:n**2 for n in range(1,11)}
dc

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [25]:
cities = ['Austin', 'Tacoma', 'Topeka', 'Sacramento', 'Charlotte']
weather = {city:[n for n in range(50,61)] for city in cities}
weather

{'Austin': [50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60],
 'Tacoma': [50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60],
 'Topeka': [50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60],
 'Sacramento': [50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60],
 'Charlotte': [50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60]}

In [26]:
from random import randint

cities = ['Austin', 'Tacoma', 'Topeka', 'Sacramento', 'Charlotte']
weather = {city:randint(50,60) for city in cities}
weather

{'Austin': 57, 'Tacoma': 60, 'Topeka': 53, 'Sacramento': 56, 'Charlotte': 54}

In [41]:
l = [1,2,1,2,3,4,5,6,2]
d = {1: 'yes', 2: 'no'}
#lst = [d.get(1) if num==1 else d.get(2) for num in l]
lst = [d.get(num, 'idle') for num in l]
lst

['yes', 'no', 'yes', 'no', 'idle', 'idle', 'idle', 'idle', 'no']

In [38]:
d.get(5,'Idle')

'Idle'

In [42]:
l = [1, 2, 3, 4, 5,2,3,4,1,2,1]
lst = ['yes' if n ==1 else 'no' if n == 2 else 'idle' for n in l]
lst

['yes', 'no', 'idle', 'idle', 'idle', 'no', 'idle', 'idle', 'yes', 'no', 'yes']